openapi: 3.0.3
info:
  title: MVP Launch API
  description: |
    API for MVP Launch platform - data ingestion, forecasting, and visualization.
  version: 1.0.0
  contact:
    name: Forge Intelligence
    email: dev@forgeintelligence.com

servers:
  - url: https://api.forgeintelligence.com/api/v1
    description: Production server
  - url: http://localhost:8000/api/v1
    description: Local development server

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Users
    description: User management operations
  - name: Data
    description: Dataset and data record operations
  - name: ML
    description: Machine learning and forecasting operations
  - name: NL Query
    description: Natural language to SQL translation and query execution
  - name: Admin
    description: Administrative operations

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  expires_in:
                    type: integer
        '401':
          description: Invalid credentials

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_in:
                    type: integer

  /users:
    get:
      tags:
        - Users
      summary: List users
      operationId: listUsers
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  total:
                    type: integer

    post:
      tags:
        - Users
      summary: Create user
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                password:
                  type: string
                name:
                  type: string
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/{userId}:
    get:
      tags:
        - Users
      summary: Get user by ID
      operationId: getUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    patch:
      tags:
        - Users
      summary: Update user
      operationId: updateUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                role_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: User updated

  /data:
    get:
      tags:
        - Data
      summary: List datasets
      operationId: listDatasets
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Dataset list

    post:
      tags:
        - Data
      summary: Create/upload dataset
      operationId: createDataset
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - name
              properties:
                name:
                  type: string
                file:
                  type: string
                  format: binary
                schema:
                  type: string
      responses:
        '201':
          description: Dataset created

  /data/{datasetId}:
    get:
      tags:
        - Data
      summary: Get dataset details
      operationId: getDataset
      security:
        - bearerAuth: []
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dataset details

    delete:
      tags:
        - Data
      summary: Delete dataset
      operationId: deleteDataset
      security:
        - bearerAuth: []
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Dataset deleted

  /api/v1/ml/forecast:
    post:
      tags:
        - ML
      summary: Generate forecast using Prophet
      operationId: createForecast
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - dataset_id
                - target_column
                - periods
              properties:
                dataset_id:
                  type: string
                  format: uuid
                target_column:
                  type: string
                periods:
                  type: integer
                frequency:
                  type: string
                  default: D
      responses:
        '200':
          description: Forecast generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  forecast:
                    type: array
                    items:
                      type: object
                  model_metrics:
                    type: object

  /api/v1/ml/forecast/{forecast_id}:
    get:
      tags:
        - ML
      summary: Get a specific forecast
      operationId: getForecast
      security:
        - bearerAuth: []
      parameters:
        - name: forecast_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Forecast details
        '404':
          description: Forecast not found

  /ml/analyze:
    post:
      tags:
        - ML
      summary: Run NLP analysis on text data
      operationId: runNLPAnalysis
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                analysis_type:
                  type: string
                  enum: [sentiment, entities, keywords, summary]
      responses:
        '200':
          description: Analysis complete

  /nl-query/translate:
    post:
      tags:
        - NL Query
      summary: Translate natural language to SQL and execute
      operationId: translateNLQuery
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - data_source_id
                - user_id
              properties:
                query:
                  type: string
                  description: Natural language question
                data_source_id:
                  type: string
                  description: ID of the connected data source
                user_id:
                  type: string
                  description: ID of the user making the query
                execute:
                  type: boolean
                  default: true
                  description: Whether to execute the generated SQL
                max_rows:
                  type: integer
                  default: 10000
                  description: Maximum rows to return
      responses:
        '200':
          description: Query translated and optionally executed
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  natural_language_query:
                    type: string
                  generated_sql:
                    type: string
                  executed_sql:
                    type: string
                  results:
                    type: array
                    items:
                      type: object
                  row_count:
                    type: integer
                  confidence_score:
                    type: integer
                  confidence_level:
                    type: string
                    enum: [high, medium, low]
                  confidence_indicator:
                    type: string
                  follow_up_questions:
                    type: array
                    items:
                      type: string
                  error_message:
                    type: string
                  execution_time_ms:
                    type: integer
                  status:
                    type: string
        '404':
          description: Data source not found
        '500':
          description: Translation or execution failed

  /nl-query/suggest-rephrase:
    post:
      tags:
        - NL Query
      summary: Suggest rephrase for failed query
      operationId: suggestRephrase
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              - error_message
              properties:
                query:
                  type: string
                error_message:
                  type: string
      responses:
        '200':
          description: Rephrase suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  original_query:
                    type: string
                  suggestions:
                    type: array
                    items:
                      type: string
                  reason:
                    type: string

  /nl-query/schema:
    get:
      tags:
        - NL Query
      summary: Get database schema for a data source
      operationId: getNLQuerySchema
      security:
        - bearerAuth: []
      parameters:
        - name: data_source_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Schema information
        '404':
          description: Data source not found

  /nl-query/history:
    get:
      tags:
        - NL Query
      summary: Get NL query history for a user
      operationId: getNLQueryHistory
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: data_source_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Query history

  /nl-query/history/{queryId}:
    get:
      tags:
        - NL Query
      summary: Get a specific query from history
      operationId: getNLQueryById
      security:
        - bearerAuth: []
      parameters:
        - name: queryId
          in: path
          required: true
          schema:
            type: string
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Query details
        '404':
          description: Query not found
    delete:
      tags:
        - NL Query
      summary: Delete a query from history
      operationId: deleteNLQuery
      security:
        - bearerAuth: []
      parameters:
        - name: queryId
          in: path
          required: true
          schema:
            type: string
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Query deleted
        '404':
          description: Query not found

  /nl-query/recent:
    get:
      tags:
        - NL Query
      summary: Get recent queries for sidebar
      operationId: getRecentNLQueries
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Recent queries

  /nl-query/confidence:
    post:
      tags:
        - NL Query
      summary: Get confidence score without executing
      operationId: getNLQueryConfidence
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - data_source_id
              properties:
                query:
                  type: string
                data_source_id:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          description: Confidence score

  /admin/users:
    get:
      tags:
        - Admin
      summary: Admin - List all users
      operationId: adminListUsers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User list (admin view)

  /anomalies/scan:
    post:
      tags:
        - Anomaly Detection
      summary: Run anomaly detection scan
      operationId: scanAnomalies
      security:
        - bearerAuth: []
      parameters:
        - name: dataset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: metric_name
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Scan completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  scanned_datasets:
                    type: integer
                  total_anomalies_found:
                    type: integer
                  anomalies_by_dataset:
                    type: object

  /anomalies:
    get:
      tags:
        - Anomaly Detection
      summary: List anomalies
      operationId: listAnomalies
      security:
        - bearerAuth: []
      parameters:
        - name: dataset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [flagged, investigated, dismissed]
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high]
      responses:
        '200':
          description: List of anomalies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Anomaly'

  /anomalies/{anomaly_id}:
    patch:
      tags:
        - Anomaly Detection
      summary: Update anomaly status
      operationId: updateAnomaly
      security:
        - bearerAuth: []
      parameters:
        - name: anomaly_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [investigated, dismissed]
                notes:
                  type: string
      responses:
        '200':
          description: Anomaly updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anomaly'

  /anomalies/notifications:
    get:
      tags:
        - Anomaly Detection
      summary: Get anomaly notifications
      operationId: getNotifications
      security:
        - bearerAuth: []
      parameters:
        - name: unread_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'

  /anomalies/notifications/{notification_id}/read:
    post:
      tags:
        - Anomaly Detection
      summary: Mark notification as read
      operationId: markNotificationRead
      security:
        - bearerAuth: []
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Notification marked as read

  /anomalies/thresholds:
    get:
      tags:
        - Anomaly Detection
      summary: List all anomaly thresholds
      operationId: listThresholds
      responses:
        '200':
          description: List of thresholds
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Threshold'

  /csv/detect:
    post:
      tags:
        - CSV Upload
      summary: Upload CSV and detect column types without storing
      operationId: detectCsvTypes
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file (max 100MB)
      responses:
        '200':
          description: Detected column types and preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSVDetectionResponse'
        '400':
          description: Invalid CSV file
        '413':
          description: File exceeds 100MB limit

  /csv/upload:
    post:
      tags:
        - CSV Upload
      summary: Upload CSV, auto-detect types, and store in database
      operationId: uploadCsv
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file (max 100MB)
                dataset_name:
                  type: string
                  description: Optional name for the dataset
                description:
                  type: string
                  description: Optional description for the dataset
                user_id:
                  type: string
                  format: uuid
                  description: User ID (defaults to system user)
      responses:
        '200':
          description: Dataset created and data stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSVUploadResponse'
        '400':
          description: Invalid CSV file
        '413':
          description: File exceeds 100MB limit
        '500':
          description: Failed to store data

  /csv/datasets:
    get:
      tags:
        - CSV Upload
      summary: List all CSV-imported datasets
      operationId: listCsvDatasets
      responses:
        '200':
          description: List of datasets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        name:
          type: string
        role_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    NLQueryRequest:
      type: object
      required:
        - query
        - data_source_id
        - user_id
      properties:
        query:
          type: string
          description: Natural language question
        data_source_id:
          type: string
          description: ID of the connected data source
        user_id:
          type: string
        execute:
          type: boolean
          default: true
        max_rows:
          type: integer
          default: 10000

    NLQueryResponse:
      type: object
      properties:
        id:
          type: string
        natural_language_query:
          type: string
        generated_sql:
          type: string
        executed_sql:
          type: string
        results:
          type: array
          items:
            type: object
        row_count:
          type: integer
        confidence_score:
          type: integer
        confidence_level:
          type: string
          enum: [high, medium, low]
        confidence_indicator:
          type: string
        follow_up_questions:
          type: array
          items:
            type: string
        error_message:
          type: string
        execution_time_ms:
          type: integer
        status:
          type: string
        created_at:
          type: string

    RephraseRequest:
      type: object
      required:
        - query
        - error_message
      properties:
        query:
          type: string
        error_message:
          type: string

    RephraseResponse:
      type: object
      properties:
        original_query:
          type: string
        suggestions:
          type: array
          items:
            type: string
        reason:
          type: string

    QueryHistoryItem:
      type: object
      properties:
        id:
          type: string
        query:
          type: string
        sql:
          type: string
        confidence:
          type: string
        status:
          type: string
        created_at:
          type: string

    QueryHistoryResponse:
      type: object
      properties:
        queries:
          type: array
          items:
            $ref: '#/components/schemas/QueryHistoryItem'
        total:
          type: integer

    Anomaly:
      type: object
      properties:
        id:
          type: string
          format: uuid
        dataset_id:
          type: string
          format: uuid
        metric_name:
          type: string
        timestamp:
          type: string
          format: date-time
        expected_value:
          type: string
          nullable: true
        actual_value:
          type: string
        severity:
          type: string
          enum: [low, medium, high]
        detection_method:
          type: string
        status:
          type: string
          enum: [flagged, investigated, dismissed]
        investigated_at:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        anomaly_id:
          type: string
          format: uuid
        read:
          type: boolean
        created_at:
          type: string
          format: date-time
        anomaly:
          $ref: '#/components/schemas/Anomaly'

    Threshold:
      type: object
      properties:
        id:
          type: string
          format: uuid
        dataset_id:
          type: string
          format: uuid
        metric_name:
          type: string
        z_score_threshold:
          type: integer
        iqr_multiplier:
          type: integer
        enabled:
          type: boolean

    ColumnTypeInfo:
      type: object
      properties:
        name:
          type: string
        inferred_type:
          type: string
          enum: [string, number, date, boolean]
        sample_values:
          type: array
          items:
            type: string

    CSVDetectionResponse:
      type: object
      properties:
        filename:
          type: string
        row_count:
          type: integer
        column_count:
          type: integer
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ColumnTypeInfo'
        preview:
          type: array
          items:
            type: object

    DatasetResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        row_count:
          type: integer
        size_bytes:
          type: integer
        status:
          type: string
        schema:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true

    ImportBatchResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        dataset_id:
          type: string
          format: uuid
        source_type:
          type: string
        status:
          type: string
        total_rows:
          type: integer
        processed_rows:
          type: integer
        created_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    CSVUploadResponse:
      type: object
      properties:
        dataset:
          $ref: '#/components/schemas/DatasetResponse'
        import_batch:
          $ref: '#/components/schemas/ImportBatchResponse'
        detection:
          $ref: '#/components/schemas/CSVDetectionResponse'
  /reports/templates:
    post:
      tags:
        - Reports
      summary: Create report template
      operationId: createReportTemplate
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - config
              properties:
                name:
                  type: string
                description:
                  type: string
                  nullable: true
                config:
                  type: object
                  properties:
                    queries:
                      type: array
                      items:
                        type: object
                    charts:
                      type: array
                      items:
                        type: object
                    datasets:
                      type: array
                      items:
                        type: string
                    include_ai_summary:
                      type: boolean
                      default: true
                    include_csv_export:
                      type: boolean
                      default: true
      responses:
        '200':
          description: Template created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportTemplateResponse'
    get:
      tags:
        - Reports
      summary: List report templates
      operationId: listReportTemplates
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportTemplateResponse'

  /reports/scheduled:
    post:
      tags:
        - Reports
      summary: Create scheduled report
      operationId: createScheduledReport
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - frequency
                - recipients
                - config
              properties:
                name:
                  type: string
                description:
                  type: string
                  nullable: true
                template_id:
                  type: string
                  format: uuid
                  nullable: true
                frequency:
                  type: string
                  enum: [daily, weekly, monthly]
                time_of_day:
                  type: string
                  default: "08:00"
                  pattern: "^([01]\\d|2[0-3]):([0-5]\\d)$"
                timezone:
                  type: string
                  default: "UTC"
                recipients:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: email
                config:
                  type: object
      responses:
        '200':
          description: Scheduled report created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReportResponse'
    get:
      tags:
        - Reports
      summary: List scheduled reports
      operationId: listScheduledReports
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: is_active
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: List of scheduled reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledReportResponse'

  /reports/scheduled/{report_id}:
    get:
      tags:
        - Reports
      summary: Get scheduled report
      operationId: getScheduledReport
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scheduled report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReportResponse'
    put:
      tags:
        - Reports
      summary: Update scheduled report
      operationId: updateScheduledReport
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                frequency:
                  type: string
                  enum: [daily, weekly, monthly]
                time_of_day:
                  type: string
                timezone:
                  type: string
                recipients:
                  type: array
                  items:
                    type: string
                config:
                  type: object
                is_active:
                  type: boolean
      responses:
        '200':
          description: Scheduled report updated
    delete:
      tags:
        - Reports
      summary: Delete scheduled report
      operationId: deleteScheduledReport
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scheduled report deleted

  /reports/scheduled/{report_id}/pause:
    post:
      tags:
        - Reports
      summary: Pause scheduled report
      operationId: pauseScheduledReport
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Report paused

  /reports/scheduled/{report_id}/resume:
    post:
      tags:
        - Reports
      summary: Resume scheduled report
      operationId: resumeScheduledReport
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Report resumed

  /reports/scheduled/{report_id}/run:
    post:
      tags:
        - Reports
      summary: Run scheduled report manually
      operationId: runScheduledReport
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Report execution started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDeliveryResponse'

  /reports/deliveries:
    get:
      tags:
        - Reports
      summary: List report deliveries
      operationId: listReportDeliveries
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: report_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of deliveries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportDeliveryResponse'

  /reports/ai-summary:
    post:
      tags:
        - Reports
      summary: Generate AI summary from query results
      operationId: generateAISummary
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query_results
                - query_description
              properties:
                query_results:
                  type: array
                  items:
                    type: object
                query_description:
                  type: string
      responses:
        '200':
          description: AI summary generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: string
                  key_insights:
                    type: array
                    items:
                      type: string
                  recommendations:
                    type: array
                    items:
                      type: string

components:
  schemas:
    ReportTemplateResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        config:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
          nullable: true

    ScheduledReportResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        template_id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        description:
          type: string
          nullable: true
        frequency:
          type: string
        time_of_day:
          type: string
        timezone:
          type: string
        recipients:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        last_run_at:
          type: string
          format: date-time
          nullable: true
        next_run_at:
          type: string
          format: date-time
          nullable: true
        config:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
          nullable: true

    ReportDeliveryResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        scheduled_report_id:
          type: string
          format: uuid
        status:
          type: string
        delivered_at:
          type: string
          format: date-time
          nullable: true
        error_message:
          type: string
          nullable: true
        pdf_url:
          type: string
          nullable: true
        csv_urls:
          type: array
          items:
            type: string
        ai_summary:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
